body{
  margin: 0;
}
h1, p{
  margin-top: 5px 10px;
  text-shadow: 2px 2px 5px white;

  letter-spacing: 5px;
  color: #4299D4;
}
.top-container{
  background-color: #323234;
  border: solid 10px;
  padding: 20px;
  height: 200px;
  width: 200px;
}
.middle-container{
  background-color: yellow;
  border: solid 20px;
  margin-left: 260px;
  height: 200px;
  width: 200px;
}
.bottom-container{
  background-color: silver;
  border: solid 10px;
  margin-left: 500px;
  height: 200px;
  width: 200px;
}
.btn{
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #271628;
  color: rgb(218, 207, 232);
}
